* {
    margin: 0;
    padding: 0;
}
.accordion {
  width: 100%;
  margin: 0 auto;
  color: black;
}
.accordion-item {
  border: 1px solid rgba(0, 136, 169, 0.8);
  margin-bottom: 1px;
}
.accordion-header {
  background-color: #9dccff42;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  position: relative;
  transition: background-color 0.4s ease;
  color: #252641d7;
}

.accordion-body {
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  max-height: 0;
  background-color: #9dccff42;
}
.accordion-item.active .accordion-header {
  background-color: rgba(0, 135, 169, 0.212);
  color: #252641;
}
.accordion-item.active .accordion-body {
  max-height: 500px; 
  transition: max-height 0.4s ease-in;
}
.accordion-header::after {
  content: '\25B8';
  position: absolute;
  right: 1rem;
  transition: transform 0.4s ease;
}
.accordion-item.active .accordion-header::after {
  transform: rotate(90deg);
  transition: transform 0.4s ease;
}

  
  