@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500&display=swap');

  /*awalan*/


html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat", sans-serif;
  font-size: var(normal-font-size);
  background-color: #FFFFFF;
  color: hsl(227,15%,50%);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
}

h1,h2,h3 {
  color: #2F327D;
  font-weight: 200;
}

ul {
  list-style: none;
}

a {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2F327D;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: "montserrat", sans-serif;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 0.8);
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.signup {
  font-family: "montserrat", sans-serif;
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 0.6);
  font-weight: 500;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 136, 169, 1);
}

.signup:hover {
  background-color: rgba(0, 136, 169, 0.9);
}

.section {
  padding: 4.5rem 0 2rem;
}

  /*header dan navbar*/
.logo{
  margin-right: auto;
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=20, OffY=12, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=20, OffY=12, Color='#444')";
}

.nav__link {
  list-style: none;
  display: flex;
  gap: 5vw;
}


.nav__link li a{
  transition: all 0.3s ease 0s;
}

.nav__link li a:hover{
  color: #579BB1;
}

.footer {
  background: linear-gradient(170deg,
    rgb(73, 187, 189, 1),
    rgb(62, 163, 165, 1));
  margin-top: 120px;

}

.footer--container {
  row-gap: 2.5rem;  

}

.footer--logo {
  column-gap: .25rem;
  margin-bottom: .75rem;
  width: 200px;
  height: auto;
}

.footer--description {
  margin-bottom: 2rem;
  font-weight: 200;
  color: white;
}

.copyright {
  color: #B2B3CF;
}

.navbar-height {
  height: 125px;
}

.navbar-container {
    top: 0;
    width: 80%;
    height: 125px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    align-items: center;
    position: fixed;
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    z-index: 777;
}

.logo-container img {
    width: 70%;
    height: auto;
}

.menu-profile-container {
    display: flex;
    gap: 5vw;
    align-items: center;
}

.button-sign-container {
  display: flex;
  gap: 2vw;
}

.button-sign-container a  {
  text-align: center;
  width: 100px;
  border-radius: 16px;
  padding: 16px 10px;
}

.signin-button {
  background-color: transparent;
  color: #49BBBD;
  border: 1px solid #49BBBD;
}
.signup-button{
  background-color: #49BBBD;
  color: white;
}

.signin-button:hover {
  border-color: #46acad;
  color: #579BB1;
  transform: scale(1.01);
}

.signup-button:hover {
  background-color: #46acad;
  transform: scale(1.01);
}

.profile-container {
    display: flex;
    gap: 15px;
}

.profile-picture {
    background: transparent;
    border: 0.1px solid #49BBBD;
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

.profile-picture img {
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}
.profile p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    /* identical to box height */
    
    letter-spacing: 0.02em;
    
    color: #000000;
}
.profile #arrow-profile {
    width: 100%;
    height: auto;
    transition: 0.5s;
}

#arrow-profile.active {
    transform: rotate(180deg);
}

.tombol-menu {
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
}

.tombol-menu .garis {
    height: 3px;
    background-color: #175747;

}


.sidebar {
    width: 50%;
    height: 100%;
    background-color:#fefefe ;
}

.back {
    width: 50%;
    height: 100%;
    background: gray;
    opacity: 0.3;
}

.sidebar .logo-container {
    padding: 10%;
}

.navbar-hamburger-container {
    position: fixed;
    top: 0;
    display: none;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.1s ease-in-out;
    z-index: 999;
}

.menu-sidebar {
    display: flex;
    flex-direction: column;
}

.menu-sidebar a {
    color: #49BBBD;
    padding: 5% 10%;
}
.menu-sidebar a:hover {
   background:  rgba(179, 185, 185, 0.2);
}

.profile-menu {
  z-index: 888;
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 10%;
  top: 100px;
  width: 200px;
  height: auto;
  background: rgb(231, 230, 230);
  text-align: left;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.profile-menu a {
  color: black;
  padding: 20px;
  border-radius: 10px
}

.profile-menu a:hover{
  background: #49BBBD;
  color: white;
}

.profile-menu.show {
  opacity: 1;
  max-height: 300px;
}

@media screen and (max-width: 900px) 
{
    .profile-menu.show {
      display: none;
    } 
    .navbar-hamburger-container {
        display: flex;
    }
    
    .navbar-hamburger-container.active {
        right: 0;
    }
    .navbar-container {
        height: fit-content;
        padding: 5% 10%;
    }
    .menu-container, .profile-container {
        display: none;
    }
    .tombol-menu {
        position: relative;
        display: flex;
    }

    .logo-container img {
        width: 86px;
    }



}

@media screen and (max-width: 500px){
  .button-sign-container a{
    width: 70px;
    font-size: 12px;
    padding: 10px 0px;
    border-radius: 8px;
  }
} 

