@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500&display=swap");

.content {
  min-height: auto;
  display: flex;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  box-sizing: border-box;
}

table,
td {
  padding: 4px;
}
table {
  padding-bottom: 40px;
  width: 100%;
}
.table {
  width: 100%;
  height: 440px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  overflow-y: hidden;
  overflow-x: hidden;
  position: center;
  margin-top: 30px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table_header {
  width: 100%;
  height: 70px;
  background-color: #49bbbd;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.judul h1 {
  color: white;
  font-style: normal;
  font-weight: 600;
  padding: 10px;
}

.cari {
  display: flex;
}

.table_body {
  width: 98%;
  max-height: 90%;
  margin: 0.8rem auto;
  overflow-y: auto;
  overflow-x: hidden;
}

form input {
  width: 100%;
  height: 44px;

  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1;
  padding: 10px;
}

input {
  width: 100%;
  height: 34px;

  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1;
  padding: 10px;
}

.submit input {
  font-family: "montserrat", sans-serif;
  background-color: #49bbbd;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

tbody button {
  background-color: transparent;
  margin-left: 0;
  padding: 1rem 1rem;
}

tbody button:hover {
  background-color: transparent;
  margin-left: 0;
  transform: translate(0px, -1.5px);
}

tbody button img {
  width: 45px;
  height: auto;
}

.action {
  display: flex;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #f8f8f8;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  text-align: center;
}

tbody tr {
  color: hsl(227, 15%, 60%);
}

tbody tr:hover {
  color: hsl(227, 15%, 45%);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
