@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500&display=swap");

/*utama*/
.box {
  background-color: rgba(158, 205, 255, 0.4);
  display: flex;
  padding: 20px 10%;
}

.box .content {
  width: 100%;
  padding: 3% 10%;
}

.box .content h3 {
  font-size: 20px;
  color: #252641;
}

.box .content h3 .aku {
  color: #49bbbd;
}

.box .content h1 {
  font-size: 48px;
  line-height: 58px;
  color: #2f327d;
}

.box .content p {
  font-size: 24px;
  line-height: 33px;
  color: #696984;
}

.box .content .button {
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  background-color: #49bbbd;
  color: #ffffff;
  padding: 18px 0px;
  width: 200px;
  border-radius: 20px;
}

.lainnya-container {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.judul-course {
  margin-top: 20px;
}

.list-course {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: stretch;
  justify-content: left;
  gap: 30px;
}

.info-course {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}

.info-course-lainnya {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.info-course-lainnya p {
  margin-left: 9px;
  font-size: 14px;
}

.info-course-lainnya img {
  width: 20px;
}

.course-card {
 /* flex: 0 0 calc(20% - 30px); */
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.12);
  transition: 0.4s;
  background: white;
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 22.5px);
}

.course-card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.course-card .gambar-utama img {
  width: 234px;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-bottom: 15px;
}

.course-card p {
  text-align: center;
  padding-top: 0 8px;
  font-size: 12px;
}

.course-card h2 {
  text-align: center;
  padding: 15px;
  cursor: pointer;
  margin-top: 5px;
  background-color: #49bbbd;
  color: white;
}

.info-course-deskripsi {
  padding: 0px 13px 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.info-course-deskripsi h1 {
  text-align: center;
  margin: 0;
  font-size: 21px;
}

@media screen and (max-width: 1000px) {
  .content {
    width: 45%;
  }
  .course-card {
    flex-basis: calc(33.33% - 20px);
  }
  .course-card .gambar-utama img {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  .content {
    width: 100%;
  }

  .course-card {
    flex-basis: calc(50% - 15px);
  }
  .course-card .gambar-utama img {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 600px) {
  .content {
    width: 100%;
  }

  .course-card {
    flex-basis: 100%;
  }

  .course-card .gambar-utama img {
    width: auto;
    height: auto;
  }
}
