@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@500&display=swap");

.content {
  min-height: auto;
  display: flex;
  width: 100%;
  padding: 0 10%;
  align-items: center;
  box-sizing: border-box;
}

table,
td {
  padding: 4px;
}

table {
  width: 100%;
}
.table {
  width: 100%;
  height: 335px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 7px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  overflow: hidden;
  position: center;
  margin-top: 50px;
}

.table_header {
  width: 100%;
  height: 70px;
  background-color: #49bbbd;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.cari button {
  background-color: transparent;
}
.cari img {
  width: 30px;
  height: auto;
}

.judul h1 {
  color: white;
  font-style: normal;
  font-weight: 600;
  padding: 10px;
}
.table_body {
  width: 95%;
  max-height: 90%;
  margin: 0.8rem auto;
}

form input {
  width: 100%;
  height: 44px;

  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1;
  padding: 10px;
}

form select {
  width: 100%;
  height: 44px;
  background: #f8f8f8;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1;
}

.submit input {
  font-family: "montserrat", sans-serif;
  background-color: #49bbbd;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}

@media screen and (max-width: 450px) {
  .cari img {
    width: 60px;
  }
}
